.login-container {
  align-items: center;
  border: 10px solid rgb(21, 80, 24);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin: 20px 40%;
  padding: 10px;
  width: 200px;
}

.header-container {
  background-color: rgba(34, 33, 33, 0.13);
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.field-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.user {
  align-items: center;
  display: flex;
  justify-content: center;
}

.container-thead {
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 10px 0;
}

.column-table {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.currency-column {
  display: flex;
  justify-content: space-between;
}

.currency-column h3 {
  margin: 0 30px;
}

.currency-column tr {
  margin: 0 30px;
}

.column-thead {
  display: flex;
  justify-content: center;
  width: 10%;
}

.column-tbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10%;
}

.form-expenses {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
