.login-container {
  align-items: center;
  border: 10px solid rgb(21, 80, 24);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin: 20px 40%;
  padding: 10px;
  width: 200px;
}

.header-container {
  align-items: center;
  background-color: rgba(34, 33, 33, 0.13);
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.field-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.user {
  align-items: center;
  display: flex;
  justify-content: center;
}

.container-thead {
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 10px 0;
}

.column-table {
  display: flex;
  flex-direction: column;
}

.currency-type {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 43%;
}

.currency-exchange {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 55%;
}

.column-thead {
  display: flex;
  justify-content: center;
  width: 12%;
}

.form-expenses {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.container-tbody {
  display: flex;
  justify-content: space-around;
}

.row-expense {
  align-items: center;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 10px 0;
  width: 100%;
}

.cell-tbody {
  display: flex;
  justify-content: center;
  width: 12%;
}
